/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Host Grotesk', sans-serif;
    overflow-x: hidden;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}



ul {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
    line-height: 1.6;
}


/* Estilo para la sección de introducción */
.intro-section {
    background-image: url('../img/fondo.png');
    background-color: #000;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.intro-content {
    color: #ffffff;
    font-size: 53px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.2em;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* menu */

#menu {
    background-color: #150070; 
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    opacity: 0.9;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

#menu ul {
    list-style: none;

}


/* enlaces del menu */

#menu a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 20px;
    font-size: 1rem;
}

/* items del menu */

#menu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

/* efecto al pasar el ratón por los items del menu */

#menu ul li:hover {
    background: #001d4b;
}

/* menu desplegable */

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0;
}

/* items del menu desplegable */

#menu ul ul li {
    float: none;
    width: 165px;
    background-color: #000000;
}

/* enlaces de los items del menu desplegable */

#menu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

/* items del menu desplegable al pasar el ratón */

#menu ul li:hover>ul {
    display: block;
}

/* Estilos para el efecto parallax */
.parallax {
    position: relative;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    width: 100%;
    transition: background-position 0.5s ease-out;
}

/* Estilos para el contenido */
.content {
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 30px auto;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.parallax.visible .content {
    opacity: 1;
    transform: translateY(0);
}

/* Colores de fondo para cada sección */
#servicios {
    background-color: #2e0465;
}

#portafolio {
    background-color: #fff;
}



#contactenos {
    background-color: #2e0465;
}

#identidad {
    background-color: #2e0465;
}

#vision {
    background-color: #ffffff;
}

#principios {
    background-color: #2e0465;
}

#valores {
    background-color: #fff;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    #menu {
        flex-direction: column;
        height: auto;
    }

    #menu ul {
        flex-direction: column;
        width: 100%;
    }

    #menu ul li {
        width: 100%;
        text-align: center;
    }

    .intro-content {
        font-size: 40px; /* Ajustar tamaño de fuente para pantallas más pequeñas */
    }

    .content {
        max-width: 90%; /* Reducir el ancho máximo para pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .intro-content {
        font-size: 30px; /* Ajustar aún más el tamaño de fuente */
    }

    #menu a {
        padding: 15px; /* Reducir el padding para pantallas muy pequeñas */
    }
}

/* Estilos para el botón del menú */
#menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
}

/* Mostrar el botón del menú en pantallas pequeñas */
@media (max-width: 768px) {
    #menu-toggle {
        display: block;
    }

    #menu {
        display: none; /* Ocultar el menú por defecto */
        flex-direction: column;
        width: 100%;
        background-color: #150070;
        overflow: hidden; /* Asegura que el contenido no se desborde */
        transition: max-height 0.9s ease-in-out; /* Transición para la altura */
        max-height: 0; /* Altura inicial cerrada */
    }

    #menu.active {
        display: flex; /* Mostrar el menú cuando esté activo */
        max-height: 500px; /* Ajusta este valor según el contenido */
    }

    #menu ul {
        flex-direction: column;
        width: 100%;
    }

    #menu ul li {
        width: 100%;
        text-align: center;
    }
}


/* contadores */

#contador {
    color: #333;
    padding: 40px 20px;
    text-align: center;
}

#contador .content {
    max-width: 1000px;
    margin: 0 auto;
}

#contador h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#contador h3 {
    font-size: 32px;
    margin-bottom: 20px;
}

#contador p {
    font-size: 20px;
    margin-bottom: 30px;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.stat {
    text-align: center;
}

.stat h4 {
    font-size: 65px;
    color: #6757c2;
    margin-bottom: 5px;
}

.stat p {
    font-size: 16px;
    color: #666;
}



#cfrio {
    color: #000;
    padding: 40px 20px;
}

.cfrio-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.cfrio-image img {
    max-width: 100%;
    height: auto;
}


.cfrio-columns {
    display: flex;
    align-items: center;
}

.number {
    font-size: 95px;
    color: #6757c2;
    margin-right: 10px; /* Espacio entre las columnas */
}

.title {
    font-size: 24px;
    text-align: left;
}

.cfrio-text {
    max-width: 600px;
    margin-left: 20px;
}

.cfrio-text h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.cfrio-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.cfrio-text p {
    font-size: 16px;
    margin-bottom: 20px;
}

.ver-mas {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.ver-mas:hover {
    background-color: white;
    color: #0a1a2b;
}






















.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 calc(25% - 20px); /* Cuatro columnas */
    max-width: calc(25% - 20px); /* Asegura que cada tarjeta no exceda el 25% del ancho */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 40px;
    color: #6757c2;
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

